/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --title-header-color: #ffc2e6;
  --title-text-color: #353430;
  --rec-visible: hidden;
  --title-background-color: #ff8dcb;
  --background-color: #fff1f7;
  --accent-transparent-color: rgb(50 49 45 / 0.4);
  --link-shadow-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {

  :root {
    --main-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --title-header-color: #ffc2e6;
    --title-text-color: #353430;
    --rec-visible: hidden;
    --title-background-color: #ff8dcb;
    --background-color: #fff1f7;
    --accent-transparent-color: rgb(50 49 45 / 0.4);
    --link-shadow-color: #ff8dcb;
  }
}
