/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --main-bg-color: #00183f;
  --main-text-color: #F1B2CE;
  --nav-color: #ff0070;
  --main-heading-color: #00183f;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;

  background-image: url("../images/cover-image-dark.png");
}

.theme_dark .header__rec {
  display :block;
}

.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme_dark .header__theme-menu-button:hover {
  --nav-hover-color: rgb(255 0 112 / 0.4);
}


.header__text {
/* Что делать, когда не можешь делать ничего Или почему нам так сложно сконцентрироваться, особенно когда очень надо */

position: absolute;
width: 355px;
height: 117px;
left: 10px;
top: 485px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
/* or 130% */

color: #000028;
/* Rectangle 50 */

position: absolute;
width: 355px;
height: 117px;
left: 10px;
top: 485px;

background: #FF0070;

}