/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-text-color: #f1b2ce;
  --title-text-color: #000028;
  --accent-color: #ff0070;
  --accent-transparent-color: rgb(255 0 112 / 0.4);
  --space: 10px;
  --background-color: #000028;
  --title-header-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
  --rec-visible: visible;
  --shadow-color: #ff0070;
  --title-background-color: #ff0070;
  --link-shadow-color: #ff0070;
}
